<div class="col-md-6 user-container">
    <div style="cursor: pointer;text-decoration: underline;" (click)="backToList()">Back to List</div>
      <div class="form-group">
        <label for="name">Name: </label>
        <span>{{user?.name}}</span>
      </div>
  
      <div class="form-group">
        <label for="age">Age: </label>
        <span>{{user?.age}}</span>
      </div>
  
      <div class="form-group">
        <label for="dob">Date Of Birth: </label>
        <span>{{user?.dob}}</span>
      </div>

      <div class="form-group">
        <label for="profession" style="padding: 10px 10px 10px 0;">Profession: </label>
        <span>{{user?.profession}}</span>
      </div>
  
      <div class="form-group">
        <label for="noOfGuest">No Of Guest: </label>
        <span>{{user?.noOfGuest}}</span>
      </div>
  
      <div class="form-group">
        <label for="locality">Locality: </label>
        <span>{{user?.locality}}</span>
      </div>
  
      <div class="form-group">
        <label for="address">Address: </label>
        <span>{{user?.address}}</span>
      </div>
  </div>
  